<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Management System</title>
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/section.css">
	<link rel="stylesheet" href="../static/styles/modals.css">
	
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/scripts/script.js"></script>
	<script src="../static/scripts/modals.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
	<div class="container">
		<div class="header">
			<!-- <img src="https://media.istockphoto.com/id/1291745044/vector/colorful-gradient-l-letter-initial-logo.jpg?s=1024x1024&w=is&k=20&c=tUixvtOBtEnNbg7Y9gs-A8_skdpiHTjVLCDgIrT76L0=" alt=""> -->
			<!-- <img src="../static/img/logo.png" alt=""> -->
			<!-- <h1 onclick="location.reload()">🪶LiteList</h1> -->
			<h1 onclick="location.reload()">🪶TaskQuill</h1>
			<div class="profile" onclick="toggle(this)">
				<img src="https://cdn.vectorstock.com/i/1000x1000/57/22/human-avatar-man-isolated-icon-vector-11705722.webp" alt="">
			</div>
			<div class="options" style="display: none;">
				<div class="options-profile">
					<img src="https://cdn.vectorstock.com/i/1000x1000/57/22/human-avatar-man-isolated-icon-vector-11705722.webp" alt="">
					<div>
						<h3>John Doe</h3>
						<h4>johndoe@gmail.com</h4>
					</div>
				</div>
				<div>edit profile</div>
				<div>change background</div>
				<div>Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></div>
			</div>
		</div>
		<div class="taskForm">
			<input type="text" name="taskInput" id="taskInput" placeholder="Enter task..." style="display: inline; width: 75%;">
			<button id="new_task" style="display: inline; font-size: 18px; width: 15%; background-image: linear-gradient(to right, #ff3344 , #ffaa44);" class="add-task" type="button" onclick="add_task(null, this)">Add Task</button>
		</div>
		<div id="taskList">
			{% for group in groups %}
			<div class="group">
				<div class="group-header" style="background-color: {{ group.color }};">
					<input onchange="save_title(this, '{{ group.id }}')" class="group-title" value="{{ group.title }}" onclick="this.readOnly=false;" readonly />
					<button class="group-clr"><i class="fa fa-paint-brush" onclick="this.querySelector('input').click()"
							aria-hidden="true"><input type="color"
								oninput="change_color(this, '{{ group.id }}')" name="color" hx-trigger="changed" hx-post="/save_color" /></i></button>
					<button class="collapse-btn" onclick="collapse(this, '{{ group.id }}')">
						<i class="fa fa-caret-down" style="transform: rotate({% if group.display == 'block'%}0{% else %}180{% endif %}deg)" aria-hidden="true"></i>
					</button>
				</div>
				<div class="group-body" style="display: {{ group.display }};">
						{% for item in group.members | sort(attribute=sort_by) %}
						<div class="item">
							<div class="label" style="display: inline-block; width: 80%">
								<span style="display: block; width: 100%;" onclick="show_desc('{{ item.id }}')">
									{{ item.title }}
								</span>
								<button onload="console.log('hello');" data-datetime="{{ item.deadline }}" type="button" style="font-size: 10px; font-family: monospace; font-weight: bolder; padding-top: 4px; color: brown" onclick="edit_task('{{ item.id }}', '{{ item.group_id }}', '{{ item.title }}', '{{ item.deadline }}', '{{ item.description }}')" title="{{ item.deadline }}">
									⏰ {{ item.deadline }}
								</button>
							</div>
							<button class="edit-item" onclick="edit_task('{{ item.id }}', '{{ item.group_id }}', '{{ item.title }}', '{{ item.deadline }}', '{{ item.description }}')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="delete-item" onclick="delete_task('{{ item.id }}')"><i
									class="fa fa-trash-o"></i></button>
							<button style="display: none;" class="check-item" onclick="request('finished this task?', ()=>{
								this.parentElement.querySelector('.label').style.textDecoration='line-through'})"><i class="fa fa-check"></i></button>
							<!-- <button class="check-item"><i class="fa fa-check-square-o"></i></button> -->
						</div>
						<p class="description" style="display: none;" data-descid="{{ item.id }}">
							{{ item.description }}
						</p>
						{% endfor %}

						<div class="item-more">
							<input type="text" name="taskInput" required> <span>add task</span>
							<button class="edit-item" onclick="add_task('{{ group.id }}', this)"><i
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
							<button class="delete-item" onclick="request('Are u sure u want to delete this?', ()=>{this.parentElement.style.display='none'})"><i
									class="fa fa-check"></i></button>
						</div>

					<button class="add_task" type="submit" style="display: none;">+</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div id="confirmBox" class="confirm-box" style="display: none;">
		<p>Do you want to proceed?</p>
		<button id="yesButton">Yes</button>
		<button id="noButton">No</button>
	</div>
	<div id="taskModal" class="task-modal" onclick="console.log('clicked')" style="display: none;">
		<div class="task-modal-content">
			<span class="close" onclick="location.reload()">&times;</span>
			<h2>Add New Task</h2>
			<form class="taskForm">
				<div class="text-input">
					<input name="title" data-id="0" type="text" required>
					<label class="placeholder">Task Title</label>
				</div>
				<select name="group" onchange="this.nextElementSibling.style.display=(this.value=='add')?'block':'none'">
					<option value="none" disabled selected> Select Group</option>
					{% for group in groups %}
					<option value="{{ group.id }}" name="group">{{ group.title }}</option>
					{% endfor %}
					<option value="add" name="group">+ add group</option>
				</select>

				<fieldset class="add-group" style="display: none;">
					<legend>+ Add Group</legend>
					<input name="group_name" type="text">
				</fieldset>

				<input name="deadline" type="datetime-local" id="deadline" onclick="this.value=(new Date()).toISOString().slice(0,16)" required>
				<textarea name="description" placeholder="Task Description" oninput="modifySize(this)"></textarea>
				<button onclick="submit_task()" type="button" data-name="submit" class="add-task">Add Task</button>
			</form>
		</div>

	</div>
</body>

</html>