.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "empty-head head-1 head-2"
    "head-3 area-2 area-3"
    "head-4 area-4 area-5";
    width: 80%;
    margin-bottom: 15px;
    height: 50vh;
}

.container>* {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: normal;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.area-5 {
  grid-area: area-5;
  background-color: brown;
}

.area-4 {
  grid-area: area-4;
  background-color: yellowgreen;
}

.area-3 {
  grid-area: area-3;
  background-color: aqua;
}

.area-2 {
  grid-area: area-2;
  background-color: tomato;
}

.head-2 {
  grid-area: head-2;
  background-color: violet;
}

.head-1 {
  grid-area: head-1;
  background-color: black;
}

.head-3 {
  grid-area: head-3;
  background-color: teal;
}

.head-4 {
  grid-area: head-4;
  background-color: steelblue;
}

.empty-head {
  grid-area: empty-head;
  background-color: silver;
}

button {
  padding: 3px 5px;
  font-size: 15px;
}

.container-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 50vh;
  background-color: aliceblue;
}